*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}
body{
   color: #5F5754;
    width: 100%;
    background-color: #F3E6D8;
}
h1,h2{
    color:#302D2C ;
     font-family: 'Young Serif', serif;
}
h2{
    font-size: 22.4px;
    color:#854632;
}
strong{
    color: #5F574E;
}
.container{
    margin: 90px auto;
    width:42%;
    background-color: white;
    padding: 30px 25px  30px 30px;
    border-radius: 24px;
}
.images{
height:80%px;
width:100%;
border-radius: 25px;
}
.intro{
    margin:10px 0  10px 0; 
}
.intro p{
    margin-top: 15px;
    font-weight: 400;
}
.preparation{

    padding: 15px;
    background-color: #FFF5FA;
    border-radius: 15px;
}
.preparation p{
    color: #7B284F;
    font-weight: 900;
    font-size: 20px;
}
.preparation ul{
    margin-top: 10px;
    padding: 18px;
}
 li{
    padding-left: 15px;
    margin-bottom: 10px;
}
 li::marker{
    color: #7B284F;
}
.ingredient ul  {
    margin-top:15px;
padding-left: 20px;
padding-bottom: 10px;
}
.ingredient , .instruction{
    border-bottom:1px solid #E4DED8;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ingredient h2 , .instruction h2{
    font-size: 20.8px;
}
.instruction ol{
    margin-top:15px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
}
.instruction li{
    padding: 8px;
}
.nutrition p {
    padding:1rem 0 1rem o.2rem;
}
table {
    border-collapse: collapse;
  }
tr{
    padding: 1rem 9.3rem 1px 1.5rem;  
    border-bottom:1px solid #E4DED8;
}
td{
    padding: 1rem 9.3rem 1px 1.5rem;  
}
.qty{
    color: #854632;
    padding-left: 160px;
    font-weight: bold;
}
 
  @media (min-width: 1024px) {
  container {
    margin: 90px auto;
    width: 40%;
    background-color: white;
    padding: 30px 25px 30px 30px;
    border-radius: 24px;
  }
}
@media (min-width:1053px){
   table{
    display: flex;
    padding: 1rem 9.3rem 1px 2.5rem; 
   }
   table{
    margin-right: -20px;
   }

   .food{
    padding-right: 11rem;
   }
  
}
@media (max-width:1200px){
    tr,td{
        display: flex;
        padding: 1rem;
    }
    .qty{
     display: flex;
     padding-left: 1rem;
    }
 }
